<footer class="text-center">
  <data href="{{ "/" | relative_url }}"></data>

  <div class="white-bg black">
    <div class="wrapper">
      <div class="col-1-of-3">
        <h4>{{ site.title }}</h4>
        <p>{{- site.description | escape -}}<br/><br/></p>
        <img src="/assets/img/faironchain.png">

      </div>

      <div class="col-1-of-3">
        <h4>Navigation</h4>
        {% for page in site.pages %}
          {% if page.menu %}
          <a href="{{ page.permalink }}">{{ page.menu }}</a><br/>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-1-of-3">
        <h4>A CHIST-ERA project</h4>
        <a href="https://www.chistera.eu/call-ord-announcement" target="_blank">Call for Open & Re-usable Research Data and Software (ORD)</a>
		<p>&nbsp;</p>
        <img src="/assets/img/logo/chist-era.png">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <p><strong>FairOnChain</strong> <span class="blue">&copy;</span> 2023 - {{ 'now' | date: "%Y" }}<p>
  </div>
</footer>
